{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>OpenQ - An Open Quiz App</title>
{% endblock title %}

{% block content %}
    <div>
        <div class="showcase d-flex align-items-center justify-center border-bottom mb-5 pb-4 pb-md-0 flex-md-row flex-column border">
            <div class="showcase__left flex-1  text-center text-md-left mt-md-0 order-1 order-md-0">
                <h1 class="brand_name mb-2 mb-3">Welcome To Open Q</h1>
                <p class="text-muted">A collection of Open Quizzes for you to binge for!</p>

                <a href="{% url 'quiz:create' %}" class="btn btn-primary" role="button">Create A Quiz</a>
                    <strong class="text-muted mx-2">OR</strong>
                <a href="#play" class=" btn btn-outline-info" role="button">Play Now</a>
               
            </div>
            <div class="showcase__right flex-1 d-md-flex">
                <img src="{% static 'img/bg.png' %}" alt="showcase image of a rocket flying from book - used to show knowledge">
            </div>
        </div>

        <div class="explore">
            <a name="play"><h4 class="mb-4 font-weight-bold">Let's Play!</h4></a>
            {% if quizzes %}
                <div class="card-deck">
                    {% for quiz in quizzes %}

                            <div class="card mr-3 mb-3">
                              <div class="card-body">
                                <h5 class="card-title"><a href="{% url 'quiz:quiz' quiz.slug %}" class="font-weight-bold d-block mb-2" role="list">
                                    {{ quiz.title|truncatechars:30 }}
                                </a>
                                </h5>
                                <p class="text-muted card-text">{{ quiz.desc|truncatechars:20 }}</p>
                              </div>

                              {% if quiz.tags %}
                                <div class="tags">
                                    <small class="text-muted">Tags: </small>
                                    {% for tag in quiz.tags.all %}
                                    <a href="{% url 'quiz:tag' tag.slug %}"><small>#{{ tag.slug }}</small></a>
                                    {% endfor %}
                                </div>
                                
                              {% endif %}

                              <div class="card-footer d-flex justify-content-between">
                                <small class="text-muted">
                                    <time>
                                        {{ quiz.created_at|date:"M j, o" }}
                                    </time>
                                </small>
                                <small class="text-muted">
                                    <time>
                                        {{ quiz.no_of_questions }} Questions
                                    </time>
                                </small>
                              </div>
                            </div>

                    {% endfor %}
                    
                </div>
            {% else %}
                <p class="text-muted">No Quizzes found!</p>
            {% endif %}
        </div>
    </div>
{% endblock content %}