{% extends 'base.html' %}

{% block title %}
<title>{{ quiz.title }}</title>
{% endblock title %}

{% block content %}
<div>
    <div class="welcome border">
        <h3 class="font-weight-bold mb-2">{{ quiz.title }}</h3>
        <p class="text-muted">
            {{ quiz.desc }}
        </p>
        <a href="#quiz" class="btn btn-danger">Start Quiz</a>
    </div>

    <!-- questions -->
    <a name="quiz">
        <div class="questions">
            <form action="" method="POST" name="data">
                {% csrf_token %}
                {% for question in questions %}
                <div class="welcome border">
                    <fieldset id="{{ question.id }}" class="question">
                        <legend class="font-weight-bold">{{ forloop.counter }}. {{ question.question }}</legend>
        
                        <!-- option one -->
                        <p>
                            <input type="radio" value="{{ question.option_one }}" name="{{ question.id }}" id="{{question.id}}_{{ question.option_one }}">
                            <label for="{{question.id}}_{{ question.option_one}}">
                                {{ question.option_one }}
                            </label>
                        </p>
        
                        <!-- option two -->
                        <p>
                            <input type="radio" value="{{ question.option_two }}" name="{{ question.id }}" id="{{question.id}}_{{ question.option_two }}">
                            <label for="{{question.id}}_{{ question.option_two}}">
                                {{ question.option_two }}
                            </label>
                        </p>
        
                        {% if question.option_three %}
                            <!-- option three -->
                            <p>
                                <input type="radio" value="{{ question.option_three }}" name="{{ question.id }}" id="{{question.id}}_{{ question.option_three }}">
                                <label for="{{question.id}}_{{ question.option_three}}">
                                    {{ question.option_three }}
                                </label>
                            </p>
                        {% endif %}
        
                        {% if question.option_four %}
                            <!-- option_four -->
                            <p>
                                <input type="radio" value="{{ question.option_four }}" name="{{ question.id }}" id="{{question.id}}_{{ question.option_four }}">
                                <label for="{{question.id}}_{{ question.option_four}}">
                                    {{ question.option_four }}
                                </label>
                            </p>
                        {% endif %}
                    </fieldset>
                </div>
                {% endfor %}
    
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
    </a>
</div>
{% endblock content %}