{% extends 'base.html' %}

{% block content %}
<div>
    <div class="welcome">
        <h3>{{ quiz.title }}</h3>
        <p>
            {{ quiz.desc }}
        </p>
        <button class="btn btn-danger">Start Quiz</button>
    </div>

    <!-- questions -->
    <div class="questions">
        <form action="" method="POST" name="data">
            {% csrf_token %}
            {% for question in questions %}
            <fieldset id="{{ question.id }}" class="question">
                <legend class="fw-bold">{{ question.question }}</legend>

                {% if question.is_multiselect %}
                    {% for answer in question.answers.all %}
                    <p>
                        <input type="checkbox" value="{{ answer.answer }}" name="{{ question.id }}" id="{{ answer.id }}">
                        <label for="{{ answer.id }}">
                            {{ answer.answer }}
                        </label>
                    </p>
                    {% endfor %}
                {% else %}
                    {% for answer in question.answers.all %}
                    <p>
                        <input type="radio" value="{{ answer.answer }}" name="{{ question.id }}" id="{{ answer.id }}">
                        <label for="{{ answer.id }}">
                            {{ answer.answer }}
                        </label>
                    </p>
                    {% endfor %}
                {% endif %}
            </fieldset>
            {% endfor %}

            <button type="submit" class="btn btn-success">Check</button>
        </form>
    </div>
</div>
{% endblock content %}